{% extends "base.html" %}
{% load static%}
{% block title %}{{album}}{% endblock %}
{% block content %}
    <section class="content-header h-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pull-right">
                        {% if album.val_imagen.strip == "" or  album.val_imagen == null %}
                            <div class="detail-img album-img album-normal text-center">
                                <i class="fa fa-music"></i>
                                <i class="fa fa fa-circle-thin"></i>
                            </div>
                        {% else %}
                            <img class="detail-img album-img album-normal" src="{{album.val_imagen}}"  >
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <span class="song-title">{{album}}</span>
                                <div class="clearfix"></div>
                                <div><span>Por <a href="/user/{{album.artista.id}}" class="user">{{album.artista}}</a></span></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            {{audios|length}} temas
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-left hidden" role="group" aria-label="...">
                                <button type="button" class="btn btn-sonidoslibres btn-4" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil fa-lg"></i></button>
                                <button type="button" class="btn btn-sonidoslibres btn-4" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <div class="container">
                    <div class="row">
                        <br>
                        <div class="col-sm-12 box">
                            <table class="table table-hover table-album">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Audio</th>
                                    <th>Colaboradores</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for audio in audios %}

                                    <tr>
                                        <td>{{ forloop.counter}}</td>
                                        <td class="cell-song"><a href="/song/{{audio.id}}">{{audio.nom_audio}}</a></td>
                                        <td class="cell-user">
                                            {% for artista in audio.artistas.all %}
                                                 {%if forloop.counter != 1%}
                                                    ,
                                                {% endif %}
                                                {{ artista }}

                                            {% endfor %}
                                        </td>
                                        <td class="td-remove">
                                            <button class="btn btn-link btn-remove hidden" data-toggle="tooltip" data-placement="left" title="Remover del album">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/album.js" %}" type="text/javascript"></script>
{% endblock %}