{% extends "base.html" %}
{% load static%}
{% block title %}{{ song.nom_audio }}{% endblock %}
{% block content %}
{% csrf_token %}
    <section class="content-header h-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pull-right">
                        {% if song.val_imagen.strip != "" %}
                            <img class="detail-img si200" src="{{ song.val_imagen }}">
                        {% else %}
                            <div class="detail-img song-img si200 text-center">
                                <i class="fa fa-music"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <span class="song-title">{{ song.nom_audio }}</span>{% if song.type_audio != "" %}<small class="bg-sonidoslibres bg-2"> {{ song.type_audio }}</small>{% endif %}
                            </div>
                            <div class="pull-right" id="calificar">
                                {#<input type="number" class="rating" />#}
                                <input type="number" title="" class="rating" data-icon-lib="fa" data-active-icon="fa-star" data-inactive-icon="fa-star-o" data-clearable-icon="fa-trash-o" />
                                <small class="text-right" id="smallCalificaciones"></small>
                            </div>
                            <div class="clearfix">
                            </div>
                            {% if song.tags_audio != "" %}
                                {% for tag in song.tags_as_list %}
                                    <a href="#" class="tag tag-small in-chart">
                                        <span class="tag-wrap">{{ tag }}</span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <audio controls class="audio-player">
                                <source src="{{ song.val_recurso }}" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            {#                            Acciones objeto#}
                            <div class="btn-group pull-left" role="group" aria-label="...">
                                {% if user.is_authenticated %}
                                    <button type="button" id="likeButton"
                                            {% if user_like %}
                                            class="btn btn-sonidoslibres btn-2 active" title="Ya no me Gusta" onclick="unlike_song({{ song.id }})"
                                            {% else %}
                                            class="btn btn-sonidoslibres btn-2 inactive" title="Me Gusta"  onclick="like_song({{ song.id }})"
                                            {% endif %}
                                            data-toggle="tooltip" data-placement="bottom" value="">
                                        <i class="fa fa-thumbs-o-up fa-flip-horizontal fa-lg"></i>
                                    </button>

                                    <a href="{{ song.val_recurso }}" target="_blank" class="btn btn-sonidoslibres btn-2" data-toggle="tooltip" data-placement="bottom" title="Descargar"><i class="fa fa-download fa-lg"></i></a>
                                    <button type="button" id="commentButton" data-target="#commentModal" class="btn btn-sonidoslibres btn-2" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Agregar comentario"><i class="fa fa-comment fa-lg"></i></button>
                                    <button type="button" id="reportButton" data-target="#reportModal" class="btn btn-sonidoslibres btn-2" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Reportar"><i class="fa fa-ban fa-lg"></i></button>
                                {% endif %}

                                <button type="button" id="addToListButton" data-target="#addToListModal" class="btn btn-sonidoslibres btn-2 hidden" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Agregar a lista de reproducción"><i class="fa fa-list fa-lg"></i></button>

                            </div>
                            {#                            Acciones propietario#}
                        {% if user.is_authenticated %}
                            {% for artista in song.artistas.all %}
                                {% if artista.user.id == user.id %}
                                    <div class="btn-group btn-group-user pull-left" >
                                        <button type="button" id="addToAlbumButton" data-target="#addToAlbumModal" class="btn btn-sonidoslibres btn-2" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Agregar a album"><i class="fa fa-circle-thin fa-lg"></i></button>
                                        <button type="button" class="btn btn-sonidoslibres btn-2" data-toggle="tooltip" data-placement="bottom" title="Editar" onclick="info_edit_song({{ song.id }})"><i class="fa fa-pencil fa-lg"></i></button>
                                        <button type="button" data-target="#confirmationModal" class="btn btn-sonidoslibres btn-2" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Eliminar"><i class="fa fa-trash fa-lg"></i></button>
                                        <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Agregar a..."></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="song-metadata pull-right">
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="glyphicon glyphicon-thumbs-up"></i> <span id="song_likes_val_counter"> {{ total_likes }}</span></div>
{#                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Reproducciones"><i class="glyphicon glyphicon-headphones"></i> 1027</div>#}
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Calificación promedio"><i class="glyphicon glyphicon-star" id="classPromedio"></i></div>
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Fecha de subida"><i class="glyphicon glyphicon-arrow-up"></i> {{ song.fec_entrada_audio }}</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="tab-type-3 active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Artistas <span class="tab-counter" id="spanNumArtistas"></span></a>
                    </li>
                    <li role="presentation" class="tab-type-4">
                        <a href="#tab2" id="albumsTab" aria-controls="tab2" role="tab" data-toggle="tab">Álbums <span class="tab-counter" id="spanNumAlbums"></span></a>
                    </li>
                    <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab" onclick="getComentarios();">Comentarios <span class="tab-counter" id="spanNumComentarios"></span></a>
                    </li>
                    <li role="presentation" class="hidden">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Convocatorias</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box" id="divArtistas">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    <div class="row" id="divAlbums">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box" id="divComments">
                                </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab4"></div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% include "modals/comentario-form.html" with id="commentModal" title="Agregar comentario" label="Por favor registre su comentario" %}
        {% include "modals/audio-form-edit.html" with id="editInfoAudio" %}
    {% endif %}
    {% include "modals/denuncia-form.html" with id="reportModal" title="Reportar audio" label="Por favor coméntenos porqué está reportando este audio"%}
{#    {% include "modals/list.html" with id="addToListModal" title="Agregar a lista de Reproducción" prefix="lst" %}#}
    {% include "modals/list.html" with id="addToAlbumModal" title="Agregar a album" prefix="album" user_albums=user_albums %}
    {% include "modals/confirmation.html" with ok_id="deleteSong" message="Esta acción no se puede deshacer. Esto borrará permanentemente la obra, junto a sus calificaciones y \"Me gusta\". ¿Deseas continuar?" %}
{% endblock %}
{% block jquery %}{% static "js/lib/jquery2/dist/jquery.js" %}{% endblock %}
{% block pagescripts %}
    <script src="{% static "js/lib/bootstrap-rating-input/src/bootstrap-rating-input.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var backVars = {
            songId: {{ song.id }}
        };
    </script>
    <script src="{% static "js/audio.js" %}" type="text/javascript"></script>
    <script src="{% static "js/comment.js" %}" type="text/javascript"></script>
    <script src="{% static "js/denuncia.js" %}" type="text/javascript"></script>
    <script src="{% static "js/album.js" %}" type="text/javascript"></script>
{% endblock %}
