{% extends "base.html" %}
{% load static%}
{% block title %}AUDIO NOMBRE{% endblock %}
{% block paddingBody %}{% endblock %}

{% block content %}
    <section class="content-header h-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pull-right">
                        <div class="detail-img song-img si200">
                            <i class="fa fa-music"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <span class="song-title">Isn't this a Lovely Day?</span><small class="bg-sonidoslibres bg-2">Videojuegos</small>
                            </div>
                            <div class="pull-right">
                                {#                        <input type="number" class="rating" />#}
                                <input type="number" class="rating" data-icon-lib="fa" data-active-icon="fa-star" data-inactive-icon="fa-star-o" data-clearable-icon="fa-trash-o"/>
                                <small class="text-right">12 Calificaciones</small>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" class="tag tag-small in-chart">
                                <span class="tag-wrap">Rock</span>
                            </a>
                            <a href="#" class="tag tag-small in-chart">
                                <span class="tag-wrap">Vallenato</span>
                            </a>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <audio controls class="audio-player">
                                <source src="horse.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group pull-left" role="group" aria-label="...">
                                <button type="button" class="btn btn-sonidoslibres btn-2 active" data-toggle="tooltip" data-placement="bottom" title="Ya no me Gusta">
                                    <i class="fa fa-thumbs-o-up fa-flip-horizontal fa-lg"></i> 1027
                                </button>
                                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="bottom" title="Agregar a...">
                                    <button type="button" class="btn btn-sonidoslibres btn-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-lg"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Agregar a Lista de Reproducción</a></li>
                                        <li><a href="#">Agregar a Album</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-sonidoslibres btn-2" data-toggle="tooltip" data-placement="bottom" title="Denunciar"><i class="fa fa-ban fa-lg"></i></button>
                            </div>
                            <div class="song-metadata pull-left">
                                {#                            <div class="song-metadata" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="glyphicon glyphicon-thumbs-up"></i> 1027</div>#}
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Reproducciones"><i class="glyphicon glyphicon-headphones"></i> 1027</div>
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Calificación promedio"><i class="glyphicon glyphicon-star"></i> 4.3</div>
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Fecha de subida"><i class="glyphicon glyphicon-arrow-up"></i> 14 de Julio de 2016</div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row">

                    </div>


                </div>
            </div>

        </div>


    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="tab-type-3 active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Artistas <span class="tab-counter">3</span></a>
                    </li>
                    <li role="presentation" class="tab-type-4">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Álbums <span class="tab-counter">7</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Comentarios</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Convocatorias</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box">
                                    {#"xxxxx"#}
                                    {% for index in "xxx" %}
                                        {% include "partials/artist-detail.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    <div class="row">
                                        {% for index in "xxxxxxx" %}
                                            {% include "partials/album-detail.html" %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab4">...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/lib/bootstrap-rating-input/src/bootstrap-rating-input.js" %}" type="text/javascript"></script>
    <script src="{% static "js/audio.js" %}" type="text/javascript"></script>
{% endblock %}