{% extends "base.html" %}
{% load static%}

{% block paddingBody %}{% endblock %}

{% block content %}
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-song-img">
                    <div class="detail-img song-img si200">
                        <i class="fa fa-music"></i>
                    </div>

                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <h2>Isn't this a Lovely Day?</h2>
                                <h5>1027 reproducciónes</h5>
                                <div>

                                </div>
                            </div>
                            <div class="pull-right">
                                {#                        <input type="number" class="rating" />#}
                                <input type="number" class="rating" data-icon-lib="fa" data-active-icon="fa-star" data-inactive-icon="fa-star-o" data-clearable-icon="fa-trash-o"/>
                                <small class="text-right">12 Calificaciones</small>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" class="tag tag-small in-chart">
                                <span class="tag-wrap">ambient</span>
                            </a>
                            <audio controls class="audio-player">
                                <source src="horse.mp3" type="audio/mpeg">
                            </audio>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div data-toggle="tooltip" data-placement="bottom" title="Reproducciones"><i class="glyphicon glyphicon-headphones"></i> 1027</div>
                            <div data-toggle="tooltip" data-placement="bottom" title="Fecha de subida"><i class="glyphicon glyphicon-arrow-up"></i> 14 de Julio de 2016</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Artistas <span class="counter">3</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Álbums</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Comentarios</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Convocatorias</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box">
                                    {#"xxxxx"#}
                                    {% for index in "xxx" %}
                                        {% include "partials/artist-detail.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>




                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab3">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab4">...</div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/lib/bootstrap-rating-input/src/bootstrap-rating-input.js" %}" type="text/javascript"></script>
    <script src="{% static "js/audio.js" %}" type="text/javascript"></script>

{% endblock %}
