{% extends "partials/authenticate.html" %}
{% load static%}
{% block facebook %}Registrarse con Facebook{% endblock %}
{% block title %}Registro{% endblock %}
{% block bodyClass %}main-pic register-pic{% endblock %}

{% block form %}
    <form id="registro_form" name="registro_form" method="post" novalidate>{% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Usuario" name="username">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="first_name" placeholder="Nombres" name="first_name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="last_name" placeholder="Apellidos" name="last_name">
    </div>
    <!--div class="form-group has-error"-->
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" name="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Contraseña" name="password1" id="password1">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirme la Contraseña" name="password2" id="password2">
    </div>
    <small>Al hacer click en Registrarse, aceptas los <a href="#">términos y condiciones</a> y <a
            href="#">política de privacidad de SonidosLibres</a></small>
    <br><br>

    <button type="submit" class="btn btn-block btn-lg btn-sonidoslibres">Registrarse</button>
    <div class="text-center">
        <small>¿Ya tienes una cuenta? <a href="/accounts/login">Inicia Sesión</a></small>
    </div>
    </form>
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/register.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var backVars = {
            fbAppId: {{ SOCIAL_AUTH_FACEBOOK_KEY }}
        };
    </script>
    <script src="{% static "js/backend-facebook.js" %}" type="text/javascript"></script>
{% endblock %}

