{% extends "base.html" %}
{% load static%}

{% block paddingBody %}{% endblock %}
{% block content %}
    <section class="content-header h-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pull-right">
                        {% if artist.val_imagen.strip == "" or  artist.val_imagen == null %}
                            <div class="detail-img artist-img si125">
                                <i class="fa fa-user"></i>
                            </div>

                        {% else %}
                            <img class="detail-img si125" src="{{ artist.val_imagen }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <div><span class="song-title pull-left">{{ artist }}</span>
                                    {% if is_following_me %}
                                        <small class="bg-sonidoslibres bg-3 bg-artist pull-left">Te está siguiendo</small>
                                    {% endif %}
                                </div>
                                <div class="clearfix"></div>
                                <div><span>{{artist.user.first_name}} {{artist.user.last_name}}</span></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="btn-group pull-left" role="group" aria-label="...">
                                <button type="button" class="btn btn-sonidoslibres btn-3 hidden" data-toggle="tooltip" data-placement="bottom" title="Dar autoría a obra"><i class="fa fa-copyright fa-lg"></i></button>
                                <button type="button" id="followButton"
                                        {% if user_follow %}
                                            class="btn btn-sonidoslibres btn-3 active disabled" title="Estas siguiendo"
                                        {% else %}
                                            class="btn btn-sonidoslibres btn-3 inactive" title="Seguir" onclick="follow_artist({{ artist.id }})"
                                        {% endif %}
                                            data-toggle="tooltip" data-placement="bottom"><i class="fa fa-heart fa-lg"></i>
                                </button>
                                <button type="button" id="donationButton" data-target="#donationModal" class="btn btn-sonidoslibres btn-3" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Donar"><i class="fa fa-money fa-lg"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="song-metadata pull-right">
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Seguidores"><i class="fa fa-users"></i><span id="artist_followers_val_counter"> {{artist.seguidores.all|length }}</span></div>
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Estás siguiendo"><i class="fa fa-eye"></i> {{artistas_que_sigo|length}}</div>
                                <div class="" data-toggle="tooltip" data-placement="bottom" title="Ubicación"><i class="fa fa-globe"></i> {{artist.nom_ciudad}}, {{artist.nom_pais}}</div>
                                <div class="hidden" data-toggle="tooltip" data-placement="bottom" title="Convocatorias ganadas"><i class="fa fa-trophy"></i> 1</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                    </div>


                </div>
            </div>

        </div>


    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="tab-type-2 active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Obras <span class="tab-counter">{{ audios|length }}</span></a>
                    </li>
                    <li role="presentation" class="tab-type-4">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Álbums <span class="tab-counter">{{ albums|length }} </span></a>
                    </li>
                    <li role="presentation" class="hidden">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Listas</a>
                    </li>
                    <li role="presentation" class="tab-type-3">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Seguidores</a>
                    </li>
                    <li role="presentation" class="hidden">
                        <a href="#tab6" aria-controls="tab5" role="tab" data-toggle="tab">Convocatorias</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab7" aria-controls="tab6" role="tab" data-toggle="tab">Donaciones</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box">
                                    {% for audio_item in audios_list %}
                                        {% include "partials/audio-detail.html" with audio_name=audio_item.audio.nom_audio audio_image=audio_item.audio.val_imagen artist=audio_item.artistas audioid=audio_item.audio.id%}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-12">
                                    {% for album in albums %}
                                        {% include "partials/album-detail.html" with album_date=album.fec_creacion_album album_id=album.id album_name=album.nom_album album_image=album.val_imagen artist=album.artista %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Seguidores <small>({{artist.seguidores.all|length}})</small></h4>
                                <div class="box col-xs-12">
                                    {% if artist.seguidores.all %}
                                        {% for seguidor in artist.seguidores.all %}
                                            {% include "partials/artist-detail.html" with is_comment=False user_name=seguidor.username artist_name=seguidor.artista artist_image=seguidor.artista.val_imagen artist_id=seguidor.artista.id%}
                                        {% endfor %}
                                    {% else %}
                                        <span>Aún nadie te esta siguiendo</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h4>Siguiendo a <small>({{artistas_que_sigo|length}})</small></h4>
                                <div class="box col-xs-12">
                                    {% if artistas_que_sigo %}
                                        {% for sigoA in artistas_que_sigo %}
                                            {% include "partials/artist-detail.html" with is_comment=False user_name=sigoA.user.username artist_name=sigoA artist_image=sigoA.val_imagen artist_id=sigoA.id%}
                                        {% endfor %}
                                    {% else %}
                                        <span>Aún no estás siguiendo nadie ¿Qué esperas a ver a tus artistas favoritos?</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab6">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab7">
                        <br>
                        <h4>Donaciones Recibidas <small>$
                        {%if total_donaciones != None %}
                            {{ total_donaciones }}
                        {% else %}
                            0
                        {% endif %}
                        </small>
                        </h4>
                        <table class="table table-hover table-donations">
                        {% if donaciones %}
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Valor</th>
                                <th>Fecha</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for donacion in donaciones %}
                                    <tr>
                                        <td class="cell-song">
                                            {% if donacion.user.artista %}
                                                <a href="/user/{{ donacion.user.artista.id }}">{{ donacion.user.artista}}</a>
                                            {% else %}
                                                {{ donacion.user.first_name }} {{ donacion.user.last_name }}
                                            {% endif %}

                                        </td>
                                        <td class="cell-user">{{ donacion.valor }}</td>
                                        <td>{{ donacion.fec_donacion }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                   Aún no ha recibido donaciones
                        </tbody>
                            {% endif %}
                         </table>
                        <br>
                        <hr>

                        <h4>Donaciones realizadas <small>$
                        {%if total_donaciones_hechas != None %}
                            {{ total_donaciones_hechas }}
                        {% else %}
                            0
                        {% endif %}
                        </small>
                        </h4>
                        <table class="table table-hover table-donations">
                        {% if donacionesHechas %}
                            <thead>
                            <tr>
                                <th>Artista</th>
                                <th>Valor</th>
                                <th>Fecha</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for donacionHecha in donacionesHechas %}
                                    <tr>
                                        <td class="cell-song">
                                            <a href="/user/{{ donacionHecha.artista.id }}">{{ donacionHecha.artista}}</a>
                                        </td>
                                        <td class="cell-user">{{ donacionHecha.valor }}</td>
                                        <td>{{ donacionHecha.fec_donacion }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                   Aún no ha recibido donaciones
                        </tbody>
                            {% endif %}
                         </table>


                    </div>
                </div>


            </div>
        </div>
    </div>
    {% include "modals/donation.html" %}
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/lib/bootstrap-rating-input/src/bootstrap-rating-input.js" %}" type="text/javascript"></script>
    <script src="{% static "js/user.js" %}" type="text/javascript"></script>
    <script src="{% static "js/donation.js" %}" type="text/javascript"></script>
{% endblock %}
