{% extends "base.html" %}
{% load static%}

{% block paddingBody %}{% endblock %}

{% block content %}
    <section class="content-header h-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pull-right">
                        <div class="detail-img artist-img si125">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>


                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <div><span class="song-title pull-left">Daft Punk</span><small class="bg-sonidoslibres bg-3 bg-artist pull-left">Te está siguiendo</small></div>
                                <div class="clearfix"></div>
                                <div><span>Guy-Manuel de Homem-Christo</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 artist-info">
                            <div class="btn-group pull-left" role="group" aria-label="...">
                                <button type="button" class="btn btn-sonidoslibres btn-3" data-toggle="tooltip" data-placement="bottom" title="Dar autoría a obra"><i class="fa fa-copyright fa-lg"></i></button>
                                <button type="button" class="btn btn-sonidoslibres btn-3 active" data-toggle="tooltip" data-placement="bottom" title="Dejar de Seguir"><i class="fa fa-heart fa-lg"></i></button>
                                <button type="button" id="donationButton" data-target="#donationModal" class="btn btn-sonidoslibres btn-3" data-toggle="modal" data-hover="tooltip" data-placement="bottom" data-trigger="hover" title="Donar"><i class="fa fa-money fa-lg"></i></button>
                            </div>
                            <div class="song-metadata pull-left">
                            <div class="" data-toggle="tooltip" data-placement="bottom" title="Seguidores"><i class="fa fa-users"></i> 64</div>
                            <div class="" data-toggle="tooltip" data-placement="bottom" title="Estás siguiendo"><i class="fa fa-eye"></i> 112</div>
                            <div class="" data-toggle="tooltip" data-placement="bottom" title="Convocatorias ganadas"><i class="fa fa-trophy"></i> 1</div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                    </div>


                </div>
            </div>

        </div>


    </section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Obras <span class="counter">3</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Álbums</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Listas</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Seguidores</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Convocatorias</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">Donaciones</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-sm-6 box">
                                    {#"xxxxx"#}
                                    {% for index in "xxx" %}
                                        {% include "partials/audio-detail.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>




                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab3">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab4">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab5">...</div>
                    <div role="tabpanel" class="tab-pane" id="tab6">...</div>
                </div>


            </div>
        </div>
    </div>
    {% include "modals/donation.html" %}
{% endblock %}

{% block pagescripts %}
    <script src="{% static "js/lib/bootstrap-rating-input/src/bootstrap-rating-input.js" %}" type="text/javascript"></script>
    <script src="{% static "js/audio.js" %}" type="text/javascript"></script>
{% endblock %}
