boto==2.43.0
boto3==1.4.1
botocore==1.4.65
djangorestframework==3.5.1
dj-database-url==0.4.1
Django==1.10.2
django-storages==1.5.1
docutils==0.12
gunicorn==19.6.0
jmespath==0.9.0
Pillow==3.4.2
psycopg2==2.6.2
python-dateutil==2.5.3
python-social-auth==0.2.21
pytz==2016.7
s3transfer==0.1.9
selenium==2.53.6
sendgrid==3.6.0
sendgrid-django==3.0.0
six==1.10.0
sqlparse==0.2.2
whitenoise==3.2.2
