@import "variables";
@import "mixins";

.form-control{
  height: 40px;
  border-radius: 2px;
  $color: $color-main1;
  $color-rgba: rgba(red($color), green($color), blue($color), .6);

  &:focus {
    border-color: $color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px $color-rgba;
  }

  &.form-bootstrap{
    height: 34px;
  }
}
.btn{
  border-radius: 2px;
}
.btn-sonidoslibres{
  @include button-variant(#fff, $color-main1, darken($color-main1, 5%));

  &:focus {
    outline: 2px auto #3D9A63;
    outline-offset: -2px;
  }

  &.btn-2{
    @include button-variant(#fff, $color-main2, darken($color-main2, 5%));
  }
  &.btn-3{
    @include button-variant(#fff, $color-main3, darken($color-main3, 5%));
  }
  &.btn-4{
    @include button-variant(#fff, $color-main4, darken($color-main4, 5%));
  }
  &.btn-5{
    @include button-variant(#fff, $color-main5, darken($color-main5, 5%));
  }
}

.btn-social > :first-child {
  border-right: 0;
  font-size: 18px;
}

.btn-tall{
  padding-top: 9px;
  padding-bottom: 9px;

  .fa{
    padding-top: 3px;
  }
}

.checkbox-awesome {
  display:none;

  &:checked + label:before {
    content: "\f046";
    letter-spacing: 5px;
  }

  + label{
    height: 1px;
    &:before {
      font-size: 18px;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f096";
      letter-spacing: 10px;
    }
  }
}

.btn-file {
  padding-top: 9px;
  padding-bottom: 9px;
}