@import "variables";
.navbar{
  z-index: 2;
  border-bottom: 1px solid rgba($color-main1, 0.5);
  margin-bottom: 0;
  background: #232D32 url(../img/music-pattern3.png);

  input[type="text"]{
    background-color: #efefef;
  }
}

.navbar-inverse{
  background-color: transparent;
  color: #fff;

  .navbar-nav > .open > a{
    &:hover, &:focus{
      background-color: darken($color-navbar, 5%);
    }
  }

  .navbar-brand, .navbar-nav > li > a {
    color: #D0D6D9;

    &:hover, &:focus{
      color: #fff;
    }
  }
}

.nav > li > a.dropdown-user{
  padding: 9px 15px 9px 15px;
}

.nav-tabs > li {
  > a {
    transition:none;
    &, &:hover, &:focus {
      color: #555;
    }
  }

  .tab-counter {
    display: inline-block;
    padding: 4px 5px 3px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background-color: $color-main1;
    border-radius: 20px;
  }

  @mixin tab-type($color){
    &.active > a {
      &, &:hover, &:focus {
        background-color: $color-body;
        font-weight: 600;
        border: 0;
        border-bottom: 2px solid $color;
      }
    }

    .tab-counter{
      background-color: $color;
    }
  }

  &.tab-type-2{
    @include tab-type($color-main2);
  }

  &.tab-type-3{
    @include tab-type($color-main3);
  }

  &.tab-type-4{
    @include tab-type($color-main4);
  }

  &.active {
    > a {
      &, &:hover, &:focus {
        background-color: $color-body;
        font-weight: 600;
        border: 0;
        border-bottom: 2px solid $color-main1;
      }
    }
  }
}

.nav-icon {
  margin-right: 6px;
  font-size: 18px;
}

.search-box{
  position: absolute;
  left: 50%;

  @mixin search-box($width){
    width: $width;
    margin-left: $width / -2;
  }

  @media (min-width: 970px) {
    @include search-box(475px);
  }
  @media (min-width: 1170px) {
    @include search-box(675px);
  }
  @include search-box(280px);
}

.img-small{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
}

.title-part1{
  color: #fff;
}
.title-part2{
  color: $color-main1;
  font-weight: 600;
}