@import "variables";
@import "mixins";

.table-album{
  >thead>tr>th{
    //border-bottom: 2px solid $color-main4;
  }
  .cell-song a{
    color: $color-main2;
    font-weight: 600;
  }
  .cell-user a{
    color: $color-main3;
  }

  > tbody > tr > td.td-remove {
    padding: 2px 0 0;

    .btn-remove{
      padding: 0;
      font-size: 20px;
      color: #6ba2a0;

      &:hover, &:focus{
        color: $color-error;
      }
    }
  }
}

.table-donations{
  a{
    font-weight: 600;
  }
}

.table-lists{
  padding-bottom: 0;

  .cell-check{
    width: 1px;
    padding-right: 0;
  }
  .cell-name{
    padding-left: 0;
  }
}