$color-body: #F2F4F5;
$color-navbar: #232D32;
$color-error: #a94442;

$color-main1: #83b348;
$color-main2: #5d7dba; //blue
$color-main3: #8360a8; //violet
$color-main4: #4cc1be; //cyan
$color-main5: #c94e4b; //red

$color-bg-2: #2b3446;
$color-bg-3: #382b46;
$color-bg-4: #2b4645;



$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
