<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>SonidosLibres - Buscador</title>
</head>
<body>
  <h1>Buscador</h1>
  <form action="home" method="GET">
      {% csrf_token %}
    <input type="text" name="q" value="{{ filtro|escape }}">
    <input type="submit" value="Buscar">
  </form>

  {% if filtro %}
    <h2>Resultados para "{{ filtro|escape }}":</h2>

    {% if audios %}
        <h5>Audios encontrados {{ audios|length }}:</h5>
      <ul>
      {% for audio in audios %}
        <li>{{ audio|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No se encontraron audios</p>
    {% endif %}

      {% if artistas %}
          <h5>Artistas encontrados {{ audios|length }}:</h5>
      <ul>
      {% for artista in artistas %}
        <li>{{ artista|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No se encontraron artistas</p>
    {% endif %}
  {% endif %}
</body>
</html>