{% load static %}
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <div class="box album-box">
        <a href="/album/{{album_id}}">
            {% if album_image.strip == "" or  album_image == null %}
                <div class="detail-img album-img album-big text-center">
                    <i class="fa fa-music"></i>
                    <i class="fa fa fa-circle-thin"></i>
                </div>
            {% else %}
                <img class="detail-img album-img album-big" src="{{ album_image }}"  >
            {% endif %}
            <div class="details-box">
                <span>{{album_name}}</span>
                <br>
                <div class="text-right"><small>{{album_date|date:"Y"}}</small></div>
            </div>
        </a>
    </div>
</div>
{#<div class="media">#}
{#    <div class="media-left">#}
{#        {% if album_image.strip == "" or  album_image == null %}#}
{#            <div class="detail-img song-img si50 text-center">#}
{#                <i class="fa fa-music"></i>#}
{#            </div>#}
{#        {% else %}#}
{#            <img class="detail-img si50" src="{% static album_image %}"  >#}
{#        {% endif %}#}
{#    </div>#}
{#    <div class="media-body">#}
{#        <h4 class="media-heading"><a href="/album">{{ album_name  }}</a></h4>#}
{#        {{ artist }}#}
{#    </div>#}
{#</div>#}
