{% load static %}
<div class="media">
    <div class="media-left">
        {% if artist_image.strip == "" or  artist_image == null %}
            <div class="detail-img artist-img si50 text-center">
                <i class="fa fa-user"></i>
            </div>
        {% else %}
            <img class="detail-img si50" src="{{ artist_image }}"  >
        {% endif %}
    </div>
    <div class="media-body">
        <span class="media-heading artist-detail-title">
            {% if artist_id %}
                <a href="{% url 'user' artist_id %}">{{ artist_name }}</a>
            {% else %}
                <a href="#">{{user_name}}</a>
            {% endif %}
        </span>
        {% if not is_comment %}

        {% else %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum est id eros sagittis, eu volutpat elit consequat.
            Phasellus ut odio ac lorem molestie blandit. Aliquam volutpat felis ex, consequat convallis leo molestie ac. Suspendisse
            rutrum condimentum ex et accumsan. Aenean eget tellus justo.
            <div class="date-comment"><small>Octubre 12 de 2016, 3:08 PM</small></div>
        {% endif %}
    </div>
</div>