{% load static %}
<div class="media">
    <div class="media-left">
        {% if audio_image.strip == "" or  audio_image == null %}
            <div class="detail-img song-img si50 text-center">
                <i class="fa fa-music"></i>
            </div>
        {% else %}
            <img class="detail-img si50" src="{{ audio_image }}"  >
        {% endif %}
    </div>
    <div class="media-body">
        <span class="media-heading artist-detail-title"><a href="{% url 'song' audioid %}">{{ audio_name }}</a></span>
        {{ artist }}
    </div>
</div>
