<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form id="comment_form" action="{% url 'comment_add'%}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            {{ label }}
                            <div class="form-group">
                                <textarea class="form-control no-resizable" name="texto_comentario" id="texto_comentario" rows="4"></textarea>
                                <input hidden name="songId" id="songId" value="{{ song.id }}"/>
                                <input hidden name="userId" id="userId" value="{{ user.id }}"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="comment_form" class="btn btn-sonidoslibres btn-2">Aceptar</button>
            </div>
        </div>
    </div>
</div>