<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form id="denuncia_form" novalidate>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ label }}
                            <div class="form-group">
                                <select class="form-control" name="tipo_denuncia">
                                    <option>Seleccione un tipo...</option>
                                    <option>Contenido sexual</option>
                                    <option>Contenido repulsivo o violento</option>
                                    <option>Contenido odioso o abusivo</option>
                                    <option>Spam o engañoso</option>
                                    <option>Infringe mis derechos</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control no-resizable" name="texto" id="texto" rows="4"></textarea>
                                <input hidden name="songId" id="songId" value="{{ song.id }}"/>
                                <input hidden name="userId" id="userId" value="{{ user.id }}"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="denuncia_form" class="btn btn-sonidoslibres btn-2">Aceptar</button>
            </div>
        </div>
    </div>
</div>
