<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Donación a Daft Punk</h4>
            </div>
            <div class="modal-body">

                <form novalidate>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Valor">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tarjeta de Crédito">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="CVC">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <select class="form-control">
                                <option>Mes</option>
                                <option>Enero</option>
                                <option>Febrero</option>
                                <option>Marzo</option>
                                <option>Abril</option>
                                <option>Mayo</option>
                                <option>Junio</option>
                                <option>Julio</option>
                                <option>Agosto</option>
                                <option>Septiembre</option>
                                <option>Octubre</option>
                                <option>Noviembre</option>
                                <option>Diciembre</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control">
                                <option>Año</option>
                                <option >2016</option>
                                <option >2017</option>
                                <option >2018</option>
                                <option >2019</option>
                                <option >2020</option>
                                <option >2021</option>
                                <option >2022</option>
                                <option >2023</option>
                                <option >2024</option>
                                <option >2025</option>
                            </select>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-sonidoslibres">Hacer donación</button>
            </div>
        </div>
    </div>
</div>