<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <table class="table table-lists">
                        <tbody>
                            <tr>
                                <td class="cell-check">
                                    <input id="{{ prefix }}box1" type="checkbox" class="checkbox-awesome" /><label for="{{ prefix }}box1"></label>
                                </td>
                                <td class="cell-name">Lista de Black Metal</td>
                            </tr>
                            <tr>
                                <td class="cell-check">
                                    <input id="{{ prefix }}box2" type="checkbox" class="checkbox-awesome" /><label for="{{ prefix }}box2"></label>
                                </td>
                                <td class="cell-name">Lista de Gothic Metal</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer bg-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="donation_form" class="btn btn-sonidoslibres btn-2">Agregar</button>
            </div>
        </div>
    </div>
</div>
